h1{
  text-align: center;
}
.output, .alert{
  display: none;
  font-size: large;
}
.pizza{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
blockquote{
  text-align: center;
}